<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key>

<string>https://dl.dropboxuercontent.com/s/8bobc0zkxn30mms/Garena%202.9.1.ipa</string>

</dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.readdle.Calendars</string><key>bundle-version</key><string>3800</string><key>kind</key><string>software</string><key>subtitle</key><string>InstallApps</string><key>title</key>


<string>Garena</string>

</dict></dict></array></dict></plist>
